.contactPage {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.memberFormToggler {
    position: relative;
    top: -3rem;
    left: 10rem;
}