p {
  margin: 0;
}

.tablerow {
  padding: 2rem auto;
}

.tableName  {
  padding: 1.5rem 1rem;
  margin-left: 1.8rem;
  text-align: start;
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.rowCategory p {
  padding: 1.2rem;
  text-align: start;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: grey;
}

.tableName p,
.expandIcon:hover {
  cursor: pointer;
}
.userAvatar {
  padding: 0.5rem;
}